/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/.vs/
*.csproj
*.sln
*.unitypackage
*.unitypackage.meta
/pokenight/
/Work/
/output/
/Claude outputs/
/[Ll]ibrary/
/[Ll]ogs/
/[Oo]bj/
/[Tt]emp/
/[Uu]ser[Ss]ettings/
/[Bb]uild/
/[Bb]uilds/
/.vs/
*.csproj
*.sln
*.slnx
*.unitypackage
*.unitypackage.meta
/pokenight/
/Assets/_Recovery/
/Assets/_Recovery.meta
